// Margins
$sidebar-width: 270px;
$navbar-height: 90px;
$refinement-tags-height: 45px;
$hits-header-height: 100px;

// Colors
$light-gray: #F3F3F3;
$gray: #D5D5D5;
$dark-gray: #6A6A6A;
$darker-gray: #4D5557;
$blue: #51B6D2;
$sidebar-background-color: #566062;