$icon-font-path: '../fonts/';
$sidebar-width: 300px;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/seiyria-bootstrap-slider/src/sass/bootstrap-slider.scss";
// endbower

/*
 * Global 
 * --------------------------------------------------
 */
 body,html,.row-offcanvas {
  height:100%;
}

body {
  padding-top: 50px;
}

main {
  height:100%;
  overflow:auto;
}

#sidebar {
  width: inherit;
  min-width: $sidebar-width;
  max-width: $sidebar-width;
  background-color:#f5f5f5;
  float: left;
  height:100%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}



/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
 @media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + #{$sidebar-width});
  }

  .row-offcanvas-left
  {
    left: -$sidebar-width;

    &.active {
      left: 0;
    }
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}


/*
 * Header (with search input)
 * -------------------------------------------------
 */
 .navbar {
  .navbar-header {
    width: $sidebar-width;
  }

  .search-input-wrapper {
    box-sizing: border-box;
    margin-left: $sidebar-width;
    padding: 0px 0px;
    line-height: 20px;
    input[type=text] {

      width: 100%;
      height: 50px;
      border: none;
    }
  }
}

/*
 * Hits
 * --------------------------------------------------
 */

 #hits {
  .hit {

    .well {
      height: 200px;  
    }
    
    em {
      font-weight: bold;
      font-style: normal;
    }
  }
}

/*
 * Facets
 * --------------------------------------------------
 */

 $facet-disjunctive-checkbox-width: 16px;
 $facet-disjunctive-checkbox-height: 16px;

 .facet {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    a {

      color: black;

      &.selected {
        color: red; 
      }

      &.disjunctive {
        position: relative;
        margin-left: $facet-disjunctive-checkbox-width;
      }

      &:before {
        position: absolute;
        left: -$facet-disjunctive-checkbox-width;
        width: $facet-disjunctive-checkbox-width;
        height: $facet-disjunctive-checkbox-height;
        border: 1px solid red;
        content: '';
      }
    }
  }
}

/*
 * Tags
 * --------------------------------------------------
 */

 #refinement-tags {
  .refinement-tag {
    border: 1px solid red;
    padding-left: 14px;
    margin-right: 8px;
    cursor: pointer;
  }
 }