$icon-font-path: '../fonts/';
$sidebar-width: 270px;
$navbar-height: 90px;
$refinement-tags-height: 45px;
$hits-header-height: 100px;

$light-gray: #F3F3F3;
$gray: #D5D5D5;
$dark-gray: #6A6A6A;
$darker-gray: #4D5557;
$blue: #51B6D2;
$sidebar-background-color: #566062;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// Mixins

@mixin box-shadow($dx, $dy, $blur, $color) {
  -moz-box-shadow: $dx $dy $blur $color;
  -webkit-box-shadow: $dx $dy $blur $color;
  -o-box-shadow: $dx $dy $blur $color;
  box-shadow: $dx $dy $blur $color;
}

@mixin placeholder-color($color) {
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $color;
    text-align: center;
    font-weight: lighter;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    $color;
   opacity:  1;
   text-align: center;
   font-weight: lighter;
 }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    $color;
   opacity:  1;
   text-align: center;
   font-weight: lighter;
 }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    $color;
   text-align: center;
   font-weight: lighter;
 }
}

//

/*
 * Global 
 * --------------------------------------------------
 */
 body,html,.row-offcanvas {
  height:100%;
}

body {
  padding-top: $navbar-height + $refinement-tags-height;
  overflow-x: hidden;
}

main {
  height:100%;
  overflow:auto;
  padding: 0 50px 0 50px;
  background-color: $light-gray;
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 768px) {
  main {
    padding: 0 20px 0 20px;
  }
}

#sidebar {
  width: inherit;
  min-width: $sidebar-width;
  max-width: $sidebar-width;
  background-color: $sidebar-background-color;
  float: left;
  height:100%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
  padding-bottom: 50px;
  -webkit-overflow-scrolling: touch;
}



/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
 @media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + #{$sidebar-width});
  }

  .row-offcanvas-left
  {
    left: -$sidebar-width;

    &.active {
      left: 0;
    }
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}


/*
 * Header (with search input)
 * -------------------------------------------------
 */

 $search-icon-size: 24px;

 .navbar {

  height: $navbar-height;
  background-color: white;
  border: none;
  border-bottom: 1px solid $gray;
  padding: 0 0;
  text-align: center;

  @include placeholder-color($gray);

  .header {

    height: 100%;
    //padding: 25px 10px;

    .search-input-wrapper {
      position: relative;
      //max-width: 430px;
      //padding-left: 200px;
      //border: 1px solid red;
      width: 100%;
      height: 100%;
      //margin-left: auto;
      //margin-right: auto;
      padding: 25px 40px;
      padding-left: 200px;

      input[type=text]#search-input {
        display: inline-block;
        border: 1px solid $gray;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        padding-left: $search-icon-size + 20px;
        outline: none;
        color: $gray;
        font-weight: bold;
        font-size: 18px;

        &:focus {
          border-color: $blue;
          color: $blue;
        }
      }

      .search-icon {
        font-size: $search-icon-size;
        width: $search-icon-size;
        height: $search-icon-size;
        line-height: 100%;
        position: absolute;
        left: 210px;
        top: 50%;
        margin-top: -$search-icon-size / 2;
        vertical-align: middle;
        color: $gray;
      }
    }
  }


  .brand-wrapper {
    height: 100%;
    width: 180px;
    float: left;
    padding: 10px 0;
    //border: 1px solid red;
    .brand {
      cursor: pointer;
      height: 100%;
      width: 100%;
      background-image: url(../images/instant-search-logo.png);
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      //border: 1px solid blue;
      //background-color: $gray;
    }  
  }
  
}

@media screen and (max-width: 768px) {
  .navbar {

    .brand-wrapper {
      display: none;
    }

    #menu-button {
      width: $navbar-height;
      height: $navbar-height;
      float: left;
      background-color: white;
      color: $gray;
      border: none;
      border-radius: none;
      //border-color: $light-gray;
      border-right: 1px solid $gray;
      border-bottom: 1px solid $gray;
      font-size: 24px;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: #F6F6F6;
      }
    }

    .header {
      margin-left: $navbar-height;

      .search-input-wrapper {
        padding: 25px 10px;
        .search-icon {
          left: 20px;
        }
      }
    }
  }
}

/*
 * Refinement tags
 * --------------------------------------------------
 */

 #refinement-tags-wrapper {

  position: fixed;
  top: $navbar-height;
  width: 100%;
  height: $refinement-tags-height;
  overflow-x: scroll;
  background-color: $light-gray;
  border-bottom: 1px solid $gray;
  -webkit-overflow-scrolling: touch;

  #refinement-tags {

    position: absolute;
    padding: 5px 10px;
    height: 100%;
    white-space: nowrap;
    
    .refinement-tag {
      vertical-align: middle;
      display: inline-block;
      height: 100%;
      color: $blue;
      border: none;

      @include box-shadow(0.5px, 0.5px, 1px, $gray);

      .glyphicon-remove {
        color: $gray;
        margin-right: 3px;
      }

      &:hover {
        background-color: #FAFAFA;
        .glyphicon-remove {
          color: $dark-gray;
        }
      }
    }
  }
}

/*
 * Hits
 * --------------------------------------------------
 */

 $image-width: 100px;

 #hits-header {
  //height: $hits-header-height;
  //line-height: $hits-header-height;
  padding-top: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid $gray;
  color: $dark-gray;
  overflow: hidden;
  font-weight: lighter;
  font-size: 18px;

  .sort {
    select {
      cursor: pointer;
      border: none;
      outline: none;
      background: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      //text-transform: uppercase;
    }
  }
}


#hits {

  padding-bottom: 50px;
  padding-top: 30px;
  //margin: -5px;

  // .tile:not(:first-child),.col:not(:last-child) {
  //   padding-right:7px;
  //   padding-left:7px;
  // }

  .tile {

    padding: 10px;

    .hit {
      padding: 20px 0 0 0;
      //border: 1px solid red;
      @include box-shadow(0px, 0px, 3px, $gray)
      position: relative;
      height: 400px;
      width: 100%;
      background-color: white;
      color: $dark-gray;
      border-radius: 3px;

      em {
        font-style: normal;
        font-weight: normal;
        //background-color: $light-gray;
        color: $blue;
      }

      .image {
        height: 100px;
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        //border: 1px solid green;
      }

      .description {
        h3 {
          font-size: 18px;
          padding: 0;
          line-height: 24px;
          font-weight: normal;
        }

        line-height: 24px;
        position: absolute;

        padding: 10px;
        top: 110px;
        bottom: 20px;
        margin-bottom: 20px;
        font-weight: lighter;

        overflow: hidden;
      }

      .footer {
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 100%;
        padding: 0px 10px;

        .price {
        }

        .rating {
          color: $gray;
          .enabled {
            color: $blue;
          }
        }
      }
    }
    

  }

  #hits-next-page {
    display: block;
    clear: both;
    text-align: center;
  }

}

/*
 * Facets
 * --------------------------------------------------
 */

 $facet-disjunctive-checkbox-width: 16px;
 $facet-disjunctive-checkbox-height: 16px;

 .facet {

  letter-spacing: 1px;
  color: $light-gray;
  font-weight: lighter;
  line-height: 24px;
  h3 {
    font-weight: lighter;
    font-size: 20px;
    border-bottom: 1px solid $light-gray;
    padding-bottom: 5px;

    .facet-clear {
      font-size: 12px;
      line-height: 25px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: $blue;
      }
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      
      a {
        color: $light-gray;


      &.selected {
        color: $blue; 
        font-weight: normal;

        &:hover {
          text-decoration: line-through;
        }
      }

      &.disjunctive {
        position: relative;
        margin-left: $facet-disjunctive-checkbox-width + 5px;

        &:before {
          position: absolute;
          left: -$facet-disjunctive-checkbox-width - 5px;
          content: '\2610';
          color: $light-gray;
          font-size: 20px;
          line-height: 20px;
          height: 20px;
          // font-weight: lighter;
          //font-size: 20px;
          //text-align: center;
          //line-height: $facet-disjunctive-checkbox-height;
        }

        &.selected {
          &:before {
            content: '\2611';
            color: $blue;
            //background-color: $blue;
          }
        }
      }

    } // a

    .count {
      color: $gray;
    }

  } // li

  } // ul

  .slider-wrapper {
    padding: 0 5px;
    .slider {
      width: 100%;

      .slider-handle.custom {
        //position: relative;
        //padding: 3px;
        &:before {
          position: absolute;
          height: 100%;
          //width: 100%;
          content: '';
          text-align: center;
          background-color: $blue;
          //border: 1px solid red;
          width: 100%;
          border-radius: 2px;
          @include box-shadow(0px, 0px, 3px, $dark-gray);
        }
      }
    }
  }

  .slider-bounds {
    overflow: hidden;
    padding: 0 0;
  }

}
